<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

	<body>
		<%- include('partials/nav') %>
			<!--  -->
			<%- include('partials/notifBoot.ejs') %>
				<!--  -->

				<!-- Contenu principal -->
				<%- include('partials/createUserForm') %>

					<!-- include('chat.ejs')    -->
					<br />
					<!--  -->
					<%- include('partials/footer') %>

						<!-- Inclusion de Bootstrap JS et jQuery -->
	</body>

</html>