<!DOCTYPE html>
<html lang="fr">


<%- include('../../partials/blogPartials/headBlog') %>


	<body>
		<%- include('../../partials/nav.ejs') %>

			<!-- Navbar -->
			<%- include('../../partials/blogPartials/navBlog') %>

				<!-- Main Content -->
				<%- include('../../partials/blogPartials/blogCore') %>

					<!-- Footer -->
					<%- include('../../partials/footer.ejs') %>
	</body>

</html>