<!DOCTYPE html>
<html lang="fr">

<head>
	<%- include('../../partials/blogPartials/headBlog.ejs') %>

</head>

<body>
	<%- include('../../partials/nav.ejs') %>

		<!-- Navbar -->
		<%- include('../../partials/blogPartials/navBlog') %>


			<!-- Main Content -->
			<%- include('../../partials/blogPartials/blogSearch.ejs') %>

				<!-- Footer -->
				<%- include('../../partials/footer') %>
</body>

</html>